<h3>Click F1 to open the help menu</h3>
<nested-component></nested-component>
<ng-keyboard-shortcuts
  [shortcuts]="shortcuts"
></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help
  [key]="'f1'"
  [closeKey]="'escape'"
  [title]="'Teclas de acceso rápido'"
></ng-keyboard-shortcuts-help>

<mat-form-field>
  <input
    id=""
    matInput
    placeholder="Firstname"
    autocomplete="off"
    tabindex="1"
    #firstname
    required
  />
  <mat-error>requerido</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Selecciona un estado" tabindex="2" #status required>
    <mat-option value="1">Pendiente</mat-option>
    <mat-option value="2">Aceptado</mat-option>
    <mat-option value="3">Atentido</mat-option>
    <mat-option value="4">Cancelado</mat-option>
  </mat-select>
  <mat-error>requerido</mat-error>
</mat-form-field>
<br />
<div class="row">
  <div class="col-3">
    <input
      id=""
      class="form-control"
      placeholder="Lastname"
      autocomplete="off"
      tabindex="1"
      #lastname
    />
  </div>
  <div class="col-3">
    <select
      class="form-control"
      placeholder="Selecciona"
      tabindex="2"
      #operation
      required
    >
      <option value="1">Pendiente</option>
      <option value="2">Aceptado</option>
    </select>
  </div>
</div>
